@charset "UTF-8";

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, input, select, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	vertical-align: top;
}
body {font-size: 16px;}
button {padding: 0; margin: 0;}

/* style */
.inner {
	background: #fff;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
}
.form_box {
	background: url("../images/input.png") center center / cover;
	width: 100%;
	height: 124px;
	position: relative;
}
.name_line {
	position: absolute;
	top: 9px;
	left: 243px;
}
.select_line {
	position: absolute;
	top: 72px;
	left: 243px;
}
select:focus, input:focus {
	outline: 0;
}
.person-name, .person-tel {
	font-size: 32px;
	background: #f7c35f;
}
.person-name {
	width: 70%;
}
.person-tel {
	width: 22%;
}
.margin_tel {
	margin: 0 0.5%;
}
.agree_line {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}
.agree_line a {
	color: #000;
	text-decoration: none;
}
.btn_line {
	text-align: center;
}
.btn {
	width: 40%;
	height: 76px;
	border: 0;
}
.btn:focus {
	outline: 0;
}
.btn1 {
	background: url("../images/btn1_on.png") center center / cover;
}
.btn1.on {
	background: url("../images/btn1_off.png") center center / cover;
}
.btn2 {
	background: url("../images/btn2_off.png") center center / cover;
}
.btn2.on {
	background: url("../images/btn2_on.png") center center / cover;
}
.view_line {
	margin-bottom: 21px;
}
.ex_box {
	background: #a1bef6;
}
.re {
	text-align: center;
	padding: 48px 0;
}
.re a {
	display: inline-block;
	width: 359px;
}
.img_tit {
	margin: 50px 0 35px 0;
}